GEMINI_API_KEY=
AUTH_SECRET=HcFdJEJAzi-WF9E7tFKBoBBT7byWqieNNyYBhajfVV-zgSpA6Mg5RSP8ikYMPEvF0c6pYdHAa3Y97a6KC8ZERg
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=OpenclawAppPlatform
PORT=3010
HOST=0.0.0.0
